Training/NodeRED/.flows.json.backup
[{"id":"6f198c4d.568204","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4c89937e.49043c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"420588ff.e9aa18","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"p4iot/debugMQTT","birthQos":"0","birthPayload":"{{baseTopic}}","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f65d766.e336e8","type":"debug","z":"6f198c4d.568204","name":"debug MQTT global","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":620,"wires":[]},{"id":"59dd402d.02745","type":"http request","z":"6f198c4d.568204","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":760,"wires":[["72054046.917f9"]]},{"id":"675c5cc6.ab0294","type":"http request","z":"6f198c4d.568204","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":640,"wires":[["284c7810.eb5958"]]},{"id":"fe53fa40.eec668","type":"inject","z":"6f198c4d.568204","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":500,"wires":[["2c522b2f.2b1b54"]]},{"id":"60fd08ef.8dc528","type":"debug","z":"6f198c4d.568204","name":"debug Catalog global","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":500,"wires":[]},{"id":"db84c88a.796608","type":"function","z":"6f198c4d.568204","name":"set Catalog global","func":"var catalogURL=\"http://\"+msg.payload.catalogIP+\":\"+msg.payload.catalogPort\nvar userID=\"pippo\"\nglobal.set('nodeRedConf',catalogURL+\"/node-red\");\nglobal.set('userConf',catalogURL+\"/user?ID=\"+userID);\nglobal.set('userID',userID)\n\n\n// Confirm settings are applied\n\nvar settings = {};\n\nsettings.nodeRedConf= global.get('nodeRedConf');\nsettings.userID= global.get('userConf');\nsettings.userConf= global.get('userID');\n\nmsg.payload = settings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":500,"wires":[["60fd08ef.8dc528"]]},{"id":"2c522b2f.2b1b54","type":"file in","z":"6f198c4d.568204","name":"","filename":"/home/matteo/.node-red/config.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":500,"wires":[["39818f9d.74ae2"]]},{"id":"39818f9d.74ae2","type":"json","z":"6f198c4d.568204","name":"","property":"payload","action":"","pretty":false,"x":760,"y":500,"wires":[["db84c88a.796608"]]},{"id":"59801802.4caf38","type":"complete","z":"6f198c4d.568204","name":"","scope":["60fd08ef.8dc528"],"uncaught":false,"x":130,"y":640,"wires":[["bac258e9.a9f3d8"]]},{"id":"7a68303d.46432","type":"complete","z":"6f198c4d.568204","name":"","scope":["5f65d766.e336e8"],"uncaught":false,"x":130,"y":760,"wires":[["59dd402d.02745"]]},{"id":"284c7810.eb5958","type":"function","z":"6f198c4d.568204","name":"set MQTT global","func":"global.set('brokerIP', msg.payload.brokerIP);\nglobal.set('brokerPort', msg.payload.brokerPort.toString());\nglobal.set('baseTopic', msg.payload.baseTopic);\n\n\n// Confirm settings are applied\n\nvar settings = {};\n\nsettings.brokerIP = global.get('brokerIP');\nsettings.brokerPort = global.get('brokerPort');\nsettings.baseTopic = global.get('baseTopic');\n\nmsg.payload = settings;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":640,"wires":[["5f65d766.e336e8"]]},{"id":"72054046.917f9","type":"debug","z":"6f198c4d.568204","name":"userconf ebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":760,"wires":[]},{"id":"bac258e9.a9f3d8","type":"change","z":"6f198c4d.568204","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"nodeRedConf","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":640,"wires":[["675c5cc6.ab0294"]]},{"id":"7dc03a9d.f36724","type":"mqtt in","z":"4c89937e.49043c","name":"","topic":"{{global.baseTopic}}","qos":"2","datatype":"json","broker":"420588ff.e9aa18","x":470,"y":440,"wires":[["5214d832.1c4688"]]},{"id":"5214d832.1c4688","type":"debug","z":"4c89937e.49043c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":440,"wires":[]},{"id":"fd95939.2fa5e7","type":"mqtt in","z":"4c89937e.49043c","name":"","topic":"p4iot/debugMQTT","qos":"2","datatype":"auto","broker":"420588ff.e9aa18","x":500,"y":560,"wires":[["5214d832.1c4688"]]}]